*{
    box-sizing: border-box;
}

.App{
    margin: 0 auto;
    width: 100%;
}

h3{
    text-align: center;
}


@media (min-width: 320px) {
    .App {
        /*border: 1px solid red;*/
    }
}

@media (min-width: 480px) {
    .App {
        /*border: 1px solid green;*/
    }
}

@media (min-width: 768px) {
    .App {
        /*border: 1px solid blue;*/
    }
}

@media (min-width: 1024px) {
    .App {
        /*border: 1px solid black;*/
        width: 1024px;
    }
}

@media (min-width: 1440px) {
    .App {
        /*border: 1px solid deeppink;*/
        width: 1024px;
    }
}


